<div class="container-fluid ">
    <div class="row align-self-center">
        <div class="col-7 align-self-center">
            <p>لطفا مقادیر را وارد نمایید</p>
            <form [formGroup]="form">
                <div class="form-group row mb-3 justify-content-start mt-5">
                    <div class="col-sm-3">
                        <ng-select class="w-100 fw-12" [items]="jsonData" bindLabel="masterName" bindValue="components" (change)="checkClear(components)" formControlName="components" placeholder="سايز ، a">
                        </ng-select>
                    </div>

                    <label for="H" class="col-sm-2 col-form-label tl"> t , ضخامت </label>
                    <div class="col-sm-3">
                        <ng-select class="w-100 fw-12" [readonly]="!_components" [items]="_components" bindLabel="T" bindValue="WEIGHT" formControlName="WEIGHT1M" #components placeholder="سایز">
                        </ng-select>
                    </div>

                    <label for="L" class="col-sm-1 col-form-label tl">L , طول </label>
                    <div class="col-sm-2">
                        <input type="text" id="L" class="form-control fw-12" placeholder="m" formControlName="L" appTwoDigitDecimaNumber digit=2 float=3 />
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="Count" class="col-sm-2 col-form-label tl offset-sm-7">تعداد </label>
                    <div class="col-sm-2">
                        <input type="text" id="Count" class="form-control fw-12" placeholder="عدد" formControlName="Count" onkeypress="return /[0-9]/i.test(event.key)" maxlength="4" />
                    </div>
                </div>
                <hr class="col-11" />
                <div class="row mt-4">
                    <div class="col-7 offset-sm-4">
                        (kg/m) وزن هر متر
                        <span class="cr"> &nbsp; {{ WEIGHT | number:'.0-2' }}&nbsp; </span>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-7 offset-sm-4">
                        &nbsp; &nbsp; (kg) محاسبه وزن
                        <span class="cr"> &nbsp; {{ this.result | number:'.0-2' }}&nbsp; </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-4 align-items-center justify-content-center align-self-center">
            <div class="image-container d-flex align-items-center justify-content-center">
                <img [src]="'assets/images/calculator/EqualAngles.svg'" loading="lazy" alt="" />
            </div>
        </div>
    </div>
</div>