<div>
  <div class="prev-step" *ngIf="data?.passwordFor === 'verify' || data?.passwordFor === 'recovery'">
    <a href="#" (click)="prevStep($event)">
      <img src="assets/images/arrow-previous.svg" loading="lazy" alt="back" />
    </a>
  </div>
  <div class="title" [class.no-back]="data?.passwordFor === 'set'">
    <span *ngIf="data?.passwordFor === 'set'">ایجاد رمز عبور</span>
    <span *ngIf="data?.passwordFor === 'verify'">رمز عبور خود را وارد نمایید</span>
    <span *ngIf="data?.passwordFor === 'recovery'">تغییر رمز عبور</span>
  </div>
  <div class="description">
    <ng-container *ngIf="data?.passwordFor === 'set'">
      <span>لطفا رمز عبور خود را با دقت وارد نمایید</span>
    </ng-container>
    <ng-container *ngIf="data?.passwordFor === 'verify'">
      <span>لطفا رمز عبور حساب کابری شماره </span>
      <span>{{ loginOrRegisterData.countryCode }}</span>
      <span>{{ loginOrRegisterData.mobile ? loginOrRegisterData.mobile : '' }}</span>
      <span> را وارد نمایید</span>
    </ng-container>
    <ng-container *ngIf="data?.passwordFor === 'recovery'">
      <span>لطفا رمز عبور جدید و تکرار آن را با دقت وارد نمایید</span>
    </ng-container>
  </div>
  <form [formGroup]="passwordForm" (ngSubmit)="submit()">
    <div class="inputs">
      <div class="input">
        <ng-container *ngIf="data?.passwordFor === 'set' || data?.passwordFor === 'recovery'">
          <div class="label">
            <span *ngIf="data?.passwordFor === 'set'">رمز عبور</span>
            <span *ngIf="data?.passwordFor === 'recovery'">رمز جدید</span>
          </div>
        </ng-container>
        <div class="main">
          <input type="password" formControlName="password" minlength="8" aria-label="Password" class="no-arrows form-control" />
        </div>
        <ng-container *ngIf="data?.passwordFor === 'set' || data?.passwordFor === 'recovery'">
          <div class="hint">
            <span>رمز عبور باید حداقل: 8 کاراکتر، شامل دو حرف انگلیسی (کوچک و بزرگ)، یک عدد و یک نماد باشد</span>
          </div>
        </ng-container>
      </div>
      <ng-container *ngIf="data?.passwordFor === 'set' || data?.passwordFor === 'recovery'">
        <div class="input">
          <div class="label">
            <span *ngIf="data?.passwordFor === 'set'">تکرار رمز عبور</span>
            <span *ngIf="data?.passwordFor === 'recovery'">تکرار رمز جدید</span>
          </div>
          <div class="main">
            <input type="password" formControlName="confirm" aria-label="PasswordConfirm" class="no-arrows form-control" />
          </div>
        </div>
      </ng-container>
    </div>
    <div class="actions">
      <ng-container *ngIf="data?.passwordFor === 'set'">
        <div class="action">
          <a href="#" (click)="skipPasswordSet($event)">
            <span>رمز عبور را بعدا تنظیم میکنم</span>
          </a>
        </div>
      </ng-container>
      <ng-container *ngIf="data?.passwordFor === 'verify'">
        <div class="action">
          <a href="#" (click)="goToVerifyOTP($event, 'passwordRecovery')">
            <span>فراموشی رمز عبور</span>
          </a>
        </div>
        <div class="action">
          <a href="#" (click)="goToVerifyOTP($event, 'login')">
            <span>ورود با رمز پیامکی</span>
          </a>
        </div>
      </ng-container>
    </div>
    <div class="next-step">
      <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="loading">{{ loading ? 'لطفا صبر کنید...' : data?.passwordFor === 'recovery' ? 'تغییر رمز' : 'ورود به کیلوتن' }}</button>
    </div>
  </form>
</div>
