@import "../../../scss/vars";

.title {
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
  &.no-back {
    margin: 50px 0 10px 0;
  }
}

.description {
  font-size: 14px;
  margin-bottom: 18px;
}

.inputs {
  .input {
    margin-bottom: 20px;
    .label {
      font-size: 14px;
      margin-bottom: 5px;
    }
    .main {
      input {
        min-height: 42px;
        border-radius: 7px;
      }
    }
    .hint {
      font-size: 11px;
      margin-top: 5px;
      color: #A2A2A2;
    }
  }
}

.next-step {
  padding-top: 15px;
}
