<footer>
  <div class="container-fluid normal-content">
    <!-- Icons -->
    <div class="icons-container">
      <div class="icons">
        <div class="item">
          <div class="image">
            <img src="assets/images/footer/1.svg" loading="lazy" alt="" />
          </div>
          <div class="text">
            <span>تضمین قیمت</span>
          </div>
        </div>
        <div class="item">
          <div class="image">
            <img src="assets/images/footer/2.svg" loading="lazy" alt="" />
          </div>
          <div class="text">
            <span>مشاوره مهندسی</span>
          </div>
        </div>
        <div class="item">
          <div class="image">
            <img src="assets/images/footer/3.svg" loading="lazy" alt="" />
          </div>
          <div class="text">
            <span>از کیلو تا تن</span>
          </div>
        </div>
        <div class="item">
          <div class="image">
            <img src="assets/images/footer/4.svg" loading="lazy" alt="" />
          </div>
          <div class="text">
            <span>ضمانت استاندارد کالا</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Newsletter Subscription -->
    <div class="newsletter-container">
      <div class="description-container text-end">
        <div class="title">
          <span>سریع با خبر شوید</span>
        </div>
        <div class="text">
          <span>تخفیف ها و پیشنهادهای ویژه را در ایمیل خود دریافت کنید</span>
        </div>
      </div>
      <div class="input-container">
        <div class="input-float-btn">
          <input type="email" class="base-input input-lg footer-newsletter-input-shadow" placeholder="ایمیل خود را وارد نمایید" aria-label="Newsletter" />
          <button type="button" class="btn btn-primary">
            <span>ارسال</span>
          </button>
        </div>
      </div>
    </div>
    <!-- Links -->
    <div class="links-container row">
      <div class="col-lg-3 col-md-6 group">
        <div class="title">
          <span>راهنمای خرید از کیلوتن</span>
        </div>
        <div class="list">
          <div class="item">
            <a href="#">
              <span>نحوه ثبت سفارش</span>
            </a>
          </div>
          <div class="item">
            <a href="#">
              <span>رویه ارسال سفارش</span>
            </a>
          </div>
          <div class="item">
            <a href="#">
              <span>شیوه های پرداخت</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 group">
        <div class="title">
          <span>خدمات مشتریان</span>
        </div>
        <div class="list">
          <div class="item">
            <a href="#">
              <span>پاسخ به پرسش های متداول</span>
            </a>
          </div>
          <div class="item">
            <a href="#">
              <span>رویه های بازگرداندن کالا</span>
            </a>
          </div>
          <div class="item">
            <a href="#">
              <span>شرایط استفاده</span>
            </a>
          </div>
          <div class="item">
            <a href="#">
              <span>حریم شخصی</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 group">
        <div class="title">
          <span>ارتباط با کیلوتن</span>
        </div>
        <div class="list">
          <div class="item">
            <a href="#">
              <span>تماس با کیلوتن</span>
            </a>
          </div>
          <div class="item">
            <a href="#">
              <span>درباره کیلوتن</span>
            </a>
          </div>
          <div class="item">
            <a href="#">
              <span>وبلاگ کیلوتن</span>
            </a>
          </div>
          <div class="item">
            <a href="#">
              <span>راهنمای هویت بصری</span>
            </a>
          </div>
          <div class="item social">
            <a class="icon instagram" href="#" lazySvg="instagram"></a>
            <a class="icon youtube" href="#" lazySvg="youtube"></a>
            <a class="icon twitter" href="#" lazySvg="twitter"></a>
            <a class="icon facebook" href="#" lazySvg="facebook"></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 group slogan">
        <div class="logo">
          <img src="assets/images/logo.svg" loading="lazy" alt="logo" />
        </div>
        <div class="description">
          <span>کیلوتن به عنوان اولین فروشگاه اینترنتی عملیاتی با بیش از دو دهه تجربه تولید، خرید و فروش آهن و فولاد، با پایبندی به سه اصل، پرداخت اینترنتی، ضمانت استاندارد کالا و تضمین قیمت کالا خریداری شده، شما را با دنیای متفاوتی از تجربه خرید آهن و فولاد آشنا خواهد کرد، به محض ورود به سایت کیلوتن دیدی متفاوت نسبت به خرید اینترنتی محصولات فولادی را تجربه خواهید کرد! هر آنچه که نیاز دارید از قبیل اطلاعات فنی استاندارد، تولید کنندگان فولاد و اطلاعات مورد نیاز را در اینجا پیدا خواهید کرد.</span>
        </div>
      </div>
    </div>
    <!-- Bottom links -->
    <hr />
    <div class="bottom-links-container pt-2 pb-2">
      <div class="item">
        <a href="#">
          <span>حریم خصوصی</span>
        </a>
      </div>
      <div class="item">
        <a href="#">
          <span>قوانین سایت</span>
        </a>
      </div>
    </div>
  </div>
</footer>
